@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h1, h2, h3 {
	font-family: "Saira Extra Condensed";
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover, a:focus {
    text-decoration: underline;
}

.pure-img-responsive {
	max-width: 50%;
	border-radius: 50%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title, .brand-tagline {
    margin: 0;
}

.brand-title, .section-title, .title {
    text-transform: uppercase;
}

.brand-tagline {
    font-weight: 300;
	color: rgb(176, 202, 219);
	line-height: 1.2;
}

.content {
    padding: 2em 1em 0;
}

.section-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.job {
    padding-bottom: 2em;
}

.fab {
	font-size: 2.8em;
}

.fab:hover {
	color: #444;
}

.pure-button .fab {
	font-size: 1em;
}

.title, .time, .fab {
	color: #aaa;
}

.title {
    border-bottom: 1px solid #eee;
	padding: 0.4em 0;
	font-size: 1.4em;
    letter-spacing: 0.1em;
}

.time {
	font-size: 90%;
	margin: 0;
}

.description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

#skills {
	margin-bottom: 5em;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
	}
	
    .header {
        margin: 2em;
	}
	
	.pure-img-responsive {
		max-width: 100%;
	}
	
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
